<div class="container">
	<div>
		<h3>Input</h3>
		<!-- input form -->
	  	<form method='POST' action='/markdown_output'>
	  		<div class="mb-3">
	  			<textarea rows="10" class="form-control" name="md_input" placeholder="Enter your Markdown here"></textarea>
	  		</div>
		  <input type="submit" class="btn btn-primary" value="Parse Markdown" />
		</form><!--//form-->		
	</div>
</div>
